**Start of Python **

How to print in Python

In [ ]:
# Print the line
print("Hello World")

Hello World

Comments

In [ ]:
# this is comments

Variables

In [ ]:
x= 20
print(x)
print(type(x))

y= 50.6
print(y)
print(type(y))

z= "Umair"
print(z)
print(type(z))

20
<class 'int'>
50.6
<class 'float'>
Umair
<class 'str'>

Arithmetic Oeprators

In [ ]:
a = 10
b = 20

print("a", a)
print("b", b)
print("a + b", a + b)
print("a - b", a - b)
print("a * b", a * b)
print("a / b", a / b)
print("a // b", a // b)
print("a % b", a % b)
print("a ** b", a**b)

a 10
b 20
a + b 30
a - b -10
a * b 200
a / b 0.5
a // b 0
a % b 10
a ** b 100000000000000000000

In [ ]:
f = 40
F = 50
print("f", f)
print("F", F)

f 40
F 50

Boolean Operators

In [ ]:
r = True
s = False
t = True

print("r", r)
print("type(r)", type(r))
print("s", s)
print("type(s)", type(s))
print("t", t)
print("type(t)", type(t))

print("r and s", r and s)
print("r and t", r and t)
print("r or s", r or s)
print("r or t", r or t)
print("not r", not r)
print("not s", not s)

r True
type(r) <class 'bool'>
s False
type(s) <class 'bool'>
t True
type(t) <class 'bool'>
r and s False
r and t True
r or s True
r or t True
not r False
not s True

Coparison Operators

In [ ]:
h = 10
i = 20
j = 15

print("h", h)
print("i", i)

print("h == i", h == i)
print("h != i", h != i)
print("h > i", h > i)
print("h < i", h < i)
print("h >= i", h >= i)
print("h <= i", h <= i)

# if
if h > i:
    print("h is greater than i")

if h < i:
    print("h is less than i")

# if else
if h > i:
    print("h is greater than i")
else:
    print("h is less than i")


# if elseif else
if h > j:
    print("h is greater than j")
elif h == j:
    print("h is equal to j")
else:
    print("h is less than j")

h 10
i 20
h == i False
h != i True
h > i False
h < i True
h >= i False
h <= i True
h is less than i
h is less than i
h is less than j

Loop

In [ ]:
# for loop
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(2, 10, 2):
    print(i)

2
4
6
8

In [ ]:
# reverse loop
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
# index based loop

fruits = ["apple", "banana", "cherry"]
for i in range(len(fruits)):
    print(i, fruits[i])

0 apple
1 banana
2 cherry

In [ ]:
# value based loop
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [ ]:
# while loop
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
# reverse loop
i = 10
while i > 0:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

Built in Methods

In [ ]:
num = [56, 23, 45, 78, 12, 90, 34, 67, 89, 23]
print("num", num)
print("max(num)", max(num))
print("min(num)", min(num))
print("sum(num)", sum(num))
print("len(num)", len(num))
print("sorted(num)", sorted(num))
print("sorted(num, reverse=True)", sorted(num, reverse=True))
print("sorted(num, reverse=False)", sorted(num, reverse=False))

num [56, 23, 45, 78, 12, 90, 34, 67, 89, 23]
max(num) 90
min(num) 12
sum(num) 517
len(num) 10
sorted(num) [12, 23, 23, 34, 45, 56, 67, 78, 89, 90]
sorted(num, reverse=True) [90, 89, 78, 67, 56, 45, 34, 23, 23, 12]
sorted(num, reverse=False) [12, 23, 23, 34, 45, 56, 67, 78, 89, 90]

Functions

In [ ]:
def add(u, v):
    ans = u + v
    print("ans", ans)
    return ans


add(10, 20)

ans 30

30

Lists

In [ ]:
#                .....,-4,-3,-2,-1
#       0, 1, 2, 3, 4, .......
list = ["apple", "banana", "cherry", 94, 45.6, True, False, 45, 67, 89, 34.43]
print("list", list)
print("type(list)", type(list))
print("len(list)", len(list))
print("list[0]", list[0])
print("list[6]", list[6])
print("list[-1]", list[-1])
print("list[-2]", list[-2])

list ['apple', 'banana', 'cherry', 94, 45.6, True, False, 45, 67, 89, 34.43]
type(list) <class 'list'>
len(list) 11
list[0] apple
list[6] False
list[-1] 34.43
list[-2] 89

In [ ]:
list = ["apple", "banana", "cherry", 94, 45.6, True, False, 45, 67, 89, 34.43]
for i in list:
    print(i)

apple
banana
cherry
94
45.6
True
False
45
67
89
34.43

In [ ]:
list = ["apple", "banana", "cherry", 94, 45.6, True, False, 45, 67, 89, 34.43]

for i in range(len(list)):
    print(i, list[i])

0 apple
1 banana
2 cherry
3 94
4 45.6
5 True
6 False
7 45
8 67
9 89
10 34.43

Tuple

In [ ]:
tuple = ("apple", "banana", "cherry", 94, 45.6, True, False, 45, 67, 89, 34.43)
print("tuple", tuple)
print("type(tuple)", type(tuple))
print("len(tuple)", len(tuple))
print("tuple[0]", tuple[0])
print("tuple[6]", tuple[6])

tuple ('apple', 'banana', 'cherry', 94, 45.6, True, False, 45, 67, 89, 34.43)
type(tuple) <class 'tuple'>
len(tuple) 11
tuple[0] apple
tuple[6] False

Set

In [ ]:
# Set
# Set is a collection which is unordered and unindexed. No duplicate members.
# set loop have no index

Set = {5, 6, 7, 8, 9, 10, 5, 6, 7, 8, 9, 10, 6, 6}
print("Set", Set)

Set {5, 6, 7, 8, 9, 10}

Dictionary

In [ ]:
# Dictionary
# Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.
# dictionary have key value pair
# dictionary loop have key
dict = {
    "name": "John",
    "age": 36,
    "city": "Faisalabad",
    "country": "Pakistan",
    "marks": [56, 78, 90, 45, 67],
}
print("dict", dict)

# get all keys
for i in dict:
    print("Key",i)

# get all values
for i in dict:
    print("values",dict[i])

# get all keys and values

for key, value in dict.items():
    print(key, value)

dict {'name': 'John', 'age': 36, 'city': 'Faisalabad', 'country': 'Pakistan', 'marks': [56, 78, 90, 45, 67]}
Key name
Key age
Key city
Key country
Key marks
values John
values 36
values Faisalabad
values Pakistan
values [56, 78, 90, 45, 67]
name John
age 36
city Faisalabad
country Pakistan
marks [56, 78, 90, 45, 67]